.sidePanel {
  color: var(--white);
  font-family: var(--base-font);
  display: flex;
  flex-direction: column;
  background-color: var(--dark-blue);
  padding: calc(var(--base-spacing) * 4);
  min-width: 250px;
  max-width: calc(var(--base-spacing) * 8);
  box-sizing: border-box;
  flex: 1;
}

.sidePanelContent {
  overflow: auto;
}

.heading {
  margin: 0;
}

.time {
  color: var(--grey);
}

.title {
  padding: calc(var(--base-spacing) * 4) 0;
}

.newsTitle {
  font-size: calc(var(--base-spacing) * 4);
  padding: calc(var(--base-spacing) * 4) 0;

  &:not(:last-child) {
    border-bottom: 1px solid var(--grey);
  }
}
